@model BlogCreateVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid my-3 mx-3">
    <div class="table-responsive pt-3">
        <div class="create-btn mb-3">
            <a asp-area="AdminArea" asp-controller="Blog" asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i></a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Photos)
                {
                <tr>
                    <td>
                        <img src="~/img/@item.FileName" />
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control" asp-for="Title">
                            <span class="text-danger my-1" asp-validation-for="Title"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="name">Description</label>
                            <input type="text" class="form-control" asp-for="Desc">
                            <span class="text-danger my-1" asp-validation-for="Desc"></span>
                        </div>
                    </td>
                   
                    
                </tr>

                }

            </tbody>
        </table>
    </div>
</div>
